<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed"><span class="input-group-addon"><i class="glyphicon glyphicon-menu-hamburger"></i></span></button>
      <a routerLink="/home" class="navbar-brand">Home Page</a>
    </div>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li><a routerLink="/diets">Moja dieta</a></li>
        <li><a routerLink="/profile">Mój profil</a></li>
        <li><a routerLink="/products">Produkty</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isLogged"><a routerLink="/registration">Rejestracja</a></li>
        <li *ngIf="!isLogged"><a routerLink="/login">Logowanie</a></li>
        <li *ngIf="isLogged" (click)="onLogOut()"><a routerLink="/home">Wyloguj</a></li>
      </ul>
    </div>
  </div>
</nav>
