<div class="container-fluid header">
<!--  <img src="assets/img/fork_right.png" alt="pic">-->
    <div>
      <h1>Dziennik kalorii</h1>
    </div>
</div>

<section>
  <h3>Dlaczego warto liczyć kalorie?</h3>
  <div class="container">
    <p>W 2016r. aż 39% pełnoletniej populacji dotykała nadwaga, a 13% była otyła. Przekraczanie optymalnej wagi znacząco przykłada się do występowania wielu chorób, głównie układu krążenia, przewodu pokarmowego, ale także powoduje cukrzyce uważaną za chorobę cywilizacyjną. Sposobem na utrzymanie odpowiedniej wagi ciała jest świadoma kontrola bilansu energetycznego(kalorycznego).</p>
    <p><span>Bilans energetyczny</span> to równowaga pomiędzy tym, ile kalorii dostarczamy do organizmu, a ile organizm zużywa każdego dnia. Bilans ujemny będzie skutkował redukcją masy ciała, natomiast dodatni - zwiększeniem masy. Aby zachować aktualną wagę należy utrzymywać bilans energetyczny na poziomie bliskim 0. Ta aplikacja pozwoli Ci na monitorowanie ilości spożytych kalorii co umożliwi Ci uzyskanie pożądane efekty, niezależnie czy jest to schudnięcie, przytycie czy utrzymanie aktualnej wagi ciała. Dodatkowo osoby prowadzące dziennik kalorii często sięgają po zdrową żywność.</p>
    <p></p>
  </div>
</section>

<section>
  <h3>Jak działa nasz serwis?</h3>
  <div class="container last">
    <p>Po założeniu konta w naszym serwisie zyskujesz dostęp do bazy produktów! Od tego momentu możesz dodawać dodawać składniki swojej diety do naszej aplikacji. Dodatkowo apliakcja wyliczy dla Ciebie spoczynkowe zapotrzebowanie na kalorie oraz wkaźnik BMI. Aplikacja nie poprosi Cię o żadne wrażliwe dane, a korzystanie z tego serwisu jest całkowicie bezpłatne.</p>
  </div>
</section>

